services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: riderpro-app
    ports:
      - "5000:5000"
    volumes:
      - ./uploads:/app/uploads
    env_file:
      - .env
    environment:
      - NODE_ENV=${NODE_ENV:-development}
      - DEPLOYMENT_ENV=${DEPLOYMENT_ENV:-localhost}
      - PORT=5000
      - ENABLE_CONSOLE_LOGS=true
      - DATABASE_URL=${DATABASE_URL}
      - BACKUP_DATABASE_URL=${BACKUP_DATABASE_URL}
      - CHOKIDAR_USEPOLLING=true
      - WATCHPACK_POLLING=true
    depends_on:
      postgres:
        condition: service_healthy
      postgres_backup:
        condition: service_healthy
    restart: always
    command: /bin/sh docker-entrypoint.sh
    # command: sh -c "npm run build && npm start"

  postgres:
    image: postgres:15-alpine
    container_name: riderpro-db
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=password
      - POSTGRES_DB=riderpro
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: unless-stopped
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d riderpro"]
      interval: 5s
      timeout: 3s
      retries: 5
      start_period: 10s

  postgres_backup:
    image: postgres:15-alpine
    container_name: riderpro-db-backup
    ports:
      - "5433:5432"
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=password
      - POSTGRES_DB=riderpro_backup
    volumes:
      - postgres_backup_data:/var/lib/postgresql/data
    restart: unless-stopped
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d riderpro_backup"]
      interval: 5s
      timeout: 3s
      retries: 5
      start_period: 10s

volumes:
  postgres_data:
  postgres_backup_data:
